.scroll {
  background-color: var(--color-secondary);
  transition: background-color 0.2s linear;
}

.fa-star {
  color: var(--color-lightgrey);
}

.fa-star.active,
.fa-star-half-alt {
  color: var(--color-yellow);
}
