/* Header Top Nav Area */

.header {
  max-height: 70rem;
}

.header::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  height: 70rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header__link {
  color: var(--color-white);
}

.header__link:hover {
  color: var(--color-yellow);
}

/* Header Navbar */

.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
}

.header__logo {
  font-size: 3rem;
}

.header__logo .header__link:hover {
  color: var(--color-secondary);
}

.header__search--input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-white);
  background: rgba(0, 0, 0, 0.3);
  font-size: inherit;
  font-family: inherit;
  color: var(--color-white);
  padding: 1rem 2rem;
  width: 30rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: all ease-out 0.3s;
}

.header__search--input.active {
  transform: scaleX(1);
}

.header__search--input.scroll {
}

.header__search--input::placeholder {
  color: var(--color-white);
  opacity: 0.7;
}

.header__search-icon {
  color: var(--color-white);
  padding: 0 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.header__button {
  display: flex;
  align-items: center;
}

.button--dark {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.button--dark.scroll {
  background-color: var(--color-black);
  color: var(--color-white);
}

.button--dark:hover {
  color: var(--color-white);
}

.button--light {
  color: var(--color-white);
  background: none;
}

.button--light:hover {
  color: var(--color-yellow);
}

/* Hero-banner bottom - Featured Movie Info */

.header__movie--container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header__movie--cover {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__movie__img {
  width: 100%;
  display: block;
  z-index: -10;
}

.header__movie--content {
  width: 100%;
  color: var(--color-white);
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 900;
  padding: 0 15rem;
}

.header__movie__title {
  font-size: 5rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.header__movie__genres {
  margin: 2rem 0;
}

.header__movie__rating--box {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__movie__rating--box span {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--color-lightgrey);
}

.stars--box {
  padding: 1rem 0;
  color: var(--color-yellow);
}

.header__movie__rating {
  padding: 0.5rem;
  border: 1px solid var(--color-yellow);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .header{
    width: 100%;
    height: 500px;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 899px) {

}
