/* Header Top Nav Area */

header {
  max-height: 70vh;
}

header::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  height: 70vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

header a {
  color: var(--color-white);
}

header a:hover {
  color: var(--color-yellow);
}

.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
}

.header__logo {
  font-size: 3rem;
}

.header__logo a:hover {
  color: var(--color-white);
}

.header_button {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.header_button i {
  padding: 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.header_button i:hover {
  color: var(--color-yellow);
}

.header__movie--cat ul {
  display: flex;
  justify-content: space-around;
}

.header__movie--cat ul li {
  position: relative;
  padding: 0 2rem;
  color: var(--color-white);
}

.header__movie--cat ul li i {
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.header__nav--dropdown ul {
  display: none;
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}

.header__nav--dropdown ul li {
  display: block;
  background-color: #f9f9f9;
  padding: 2px 5px;
  border-radius: 3px;
}

.header__nav--dropdown ul li:hover {
  background-color: #f9f9f9;
}

header .button {
  text-transform: uppercase;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

header button {
  text-transform: uppercase;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button--dark {
  color: var(--color-black);
  background-color: var(--color-yellow);
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button--dark:hover {
  box-shadow: 0px 0px 10px var(--color-yellow);
}

.header__movie--content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--color-white);
  margin-bottom: 80px;
  z-index: 900;
}

.button--light {
  color: var(--color-white);
  background: none;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button--light:hover {
  color: var(--color-yellow);
}

.header__movie--container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header__movie__img {
  width: 100%;
  display: block;
  z-index: -10;
}

.header__movie--content {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__movie__rating--box {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__movie__rating--box span {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--color-lightgrey);
}

.stars--box {
  padding: 10px 0;
  color: var(--color-yellow);
}

.header__movie__rating {
  padding: 5px;
  border: 1px solid var(--color-yellow);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.header__movie--cover {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__movie--content {
  padding: 0 15rem;
}

.header__movie__title {
  font-size: 5rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.header__movie__genres {
  margin-bottom: 2rem;
}
