.section--movies.active {
  display: block;
}

.section--trending-movies,
.section--top-rated-movies,
.section--new-arrival-movies {
  display: none;
}

.movies__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gutter-horizontal);
  margin: 2rem;
}

@media only screen and (max-width: 992px) {
  .movies__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .movies__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .movies__container {
    grid-template-columns: 1fr;
  }
}
