.content__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-lightgrey);
  margin-bottom: 5rem;
  position: sticky;
  top: 3rem;
  z-index: 10000;
  color: white;
}

.content__navbar__item {
  cursor: pointer;
  padding: var(--gutter-vertical);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.content__navbar__item.active {
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.content__navbar__item:hover {
  color: var(--color-secondary);
}
