.select--dropdown {
}

.genres__list--dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: var(
    --color-secondary
  ); /* Fallback color if gradients are not supported */
  background-image: url(../../assets/img/select-arrow.svg),
    -webkit-linear-gradient(top, #e5e5e5, #f4f4f4); /* For Chrome and Safari */
  background-image: url(../../assets/img/select-arrow.svg),
    -moz-linear-gradient(top, #e5e5e5, #f4f4f4); /* For old Firefox (3.6 to 15) */
  background-image: url(../../assets/img/select-arrow.svg),
    -ms-linear-gradient(top, #e5e5e5, #f4f4f4); /* For pre-releases of Internet Explorer  10*/
  background-image: url(../../assets/img/select-arrow.svg),
    -o-linear-gradient(top, #e5e5e5, #f4f4f4); /* For old Opera (11.1 to 12.0) */
  background-image: url(../../assets/img/select-arrow.svg),
    linear-gradient(to bottom, #e5e5e5, #f4f4f4); /* Standard syntax; must be last */
  background-position: 60% center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: inherit;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.seclect-arrow {
  fill: var(--color-secondary);
}
