.movie {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie__img__container {
  overflow: hidden;
}

.movie__img {
  display: block;
  width: 100%;
  -webkit-transition: all ease-out 4s;
  transition: all ease-out 4s;
}

.movie__footer {
  position: relative;
  padding: var(--gutter-horizontal);
}

.movie__rating {
  position: absolute;
  top: var(--gutter-vertical);
  right: var(--gutter-horizontal);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid 3px var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__rating__stars {
  position: absolute;
  bottom: var(--gutter-vertical);
  right: var(--gutter-horizontal);
}

.movie__genres {
  margin-bottom: var(--gutter-vertical);
}

.movie__date {
}
