/* base style */
@import './base/base.css';
@import './base/typography.css';
@import './base/animations.css';

/* Variables */
@import './abstracts/variables.css';

/* layout */
@import './layout/header.css';
@import './layout/content.css';
@import './layout/movies.css';
@import './layout/footer.css';

/* Component */
@import './components/movie.css';
@import './components/loader';
@import './components/content-navbar.css';

/* Pages */
@import './pages/homepage.css';

/* external styles */
@import './vendors/vendor.css';
